# Task 4.8

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Creating 'path' shortcut
path = r'C:\Users\Longus\Documents\26-02-2023 Instacart Basket Analysis'

### Step 1

In [3]:
#Importing 'orders_products_merged_updated.pkl'
df_ords_prods_merged = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged_updated.pkl'))

### Step 2

In [4]:
#Grouping data by 'department_id' and then aggregating to find mean of 'order_number'
df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [5]:
#Different way of finding mean of 'order_number'
df_ords_prods_merged.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

### Step 3

#### Compare to the subset (8), we now have more 'department_id' rows displayed (21).
#### Most of the 'department_ids' from the full dataframe have lower mean compare to  subset. Apart from number 17 which has higher mean in the full dataframe.

### Step 4

#### Create a loyalty flag for existing customers using the transform() and loc() functions.

In [6]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'order_number' column to generate the max orders for each user.
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
df_ords_prods_merged.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,...,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,0,2539329,1,1,2,8,NaN,True,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,1,2398795,1,2,3,7,15.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,2,2,473747,1,3,3,12,21.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,3,3,2254736,1,4,4,7,29.0,False,196,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,4,4,431534,1,5,4,15,28.0,False,196,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
5,5,5,3367565,1,6,2,7,19.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,6,6,550135,1,7,1,9,20.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer
7,7,7,3108588,1,8,1,14,14.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
8,8,8,2295261,1,9,1,16,0.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer
9,9,9,2550362,1,10,4,8,30.0,False,196,...,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
10,144,144,2968173,15,15,1,9,7.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer
11,146,146,1870022,15,17,2,16,8.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer
12,147,147,1911383,15,18,2,11,7.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,150,150,2715276,15,21,1,9,7.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer
14,151,151,487368,15,22,1,10,14.0,False,196,...,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer

In [11]:
#Checking the count of 'loyalty_flag' values
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [12]:
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False).sum()

32404859

In [13]:
df_ords_prods_merged.shape

(32404859, 24)

#### The sum of count of values of 'loyalty_flag' is equal to total number of rows in 'df_ords_prods_merged'

### Step 5

#### Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer).

In [14]:
#Performing multiple aggregations ('min', 'max', 'mean', 'sum')
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

#### Interesting fact is that 'Loyal customers' purchase on average cheaper products than 'New customers' and 'Regular customers'.  Minimum and Maximum is the same for all categories. The sum of prices is highest with 'Regular customers', but that is due to higher count of Regular customers compare to New and Loyal customers.

### Step 6

#### Create a spending flag for each user based on the average price across all their orders using the following criteria:
#### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
#### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'prices' column to generate the average prices for each user.
df_ords_prods_merged['avg_price'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
df_ords_prods_merged.loc[df_ords_prods_merged['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
df_ords_prods_merged.loc[df_ords_prods_merged['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [18]:
df_ords_prods_merged.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,0,0,2539329,1,1,2,8,NaN,True,196,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,1,1,2398795,1,2,3,7,15.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,2,2,473747,1,3,3,12,21.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,3,3,2254736,1,4,4,7,29.0,False,196,...,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,4,4,431534,1,5,4,15,28.0,False,196,...,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
5,5,5,3367565,1,6,2,7,19.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
6,6,6,550135,1,7,1,9,20.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender
7,7,7,3108588,1,8,1,14,14.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
8,8,8,2295261,1,9,1,16,0.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender
9,9,9,2550362,1,10,4,8,30.0,False,196,...,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
10,144,144,2968173,15,15,1,9,7.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556,Low spender
11,146,146,1870022,15,17,2,16,8.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender
12,147,147,1911383,15,18,2,11,7.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
13,150,150,2715276,15,21,1,9,7.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556,Low spender
14,151,151,487368,15,22,1,10,14.0,False,196,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender

In [19]:
#Checking the count of 'spending_flag' values
df_ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [20]:
df_ords_prods_merged['spending_flag'].value_counts(dropna = False).sum()

32404859

In [21]:
df_ords_prods_merged.shape

(32404859, 26)

#### The sum of count of values of 'spending_flag' is equal to total number of rows in 'df_ords_prods_merged'

### Step 7

#### Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
#### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [22]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'days_since_prior_order' column to generate the median order frequency for each user.
df_ords_prods_merged['median_freq'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [23]:
df_ords_prods_merged.loc[df_ords_prods_merged['median_freq'] > 20, 'order_freq_flag'] = 'Non-frequent customer'

In [24]:
df_ords_prods_merged.loc[(df_ords_prods_merged['median_freq'] > 10) & (df_ords_prods_merged['median_freq'] <= 20), 'order_freq_flag'] = 'Regular customer'

In [25]:
df_ords_prods_merged.loc[df_ords_prods_merged['median_freq'] <= 10, 'order_freq_flag'] = 'Frequent customer'

In [26]:
df_ords_prods_merged.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_freq,order_freq_flag
0,0,0,2539329,1,1,2,8,NaN,True,196,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1,1,2398795,1,2,3,7,15.0,False,196,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2,2,473747,1,3,3,12,21.0,False,196,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,3,3,2254736,1,4,4,7,29.0,False,196,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,4,4,431534,1,5,4,15,28.0,False,196,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,5,5,3367565,1,6,2,7,19.0,False,196,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,6,6,550135,1,7,1,9,20.0,False,196,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,7,7,3108588,1,8,1,14,14.0,False,196,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,8,8,2295261,1,9,1,16,0.0,False,196,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,9,9,2550362,1,10,4,8,30.0,False,196,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,144,144,2968173,15,15,1,9,7.0,False,196,...,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,146,146,1870022,15,17,2,16,8.0,False,196,...,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,147,147,1911383,15,18,2,11,7.0,False,196,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,150,150,2715276,15,21,1,9,7.0,False,196,...,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,151,151,487368,15,22,1,10,14.0,False,196,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer

In [27]:
#Checking the count of 'order_freq_flag' values
df_ords_prods_merged['order_freq_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_freq_flag, dtype: int64

In [28]:
df_ords_prods_merged['order_freq_flag'].value_counts(dropna = False).sum()

32404859

In [29]:
df_ords_prods_merged.shape

(32404859, 28)

#### The sum of count of values of 'order_freq_flag' is equal to total number of rows in 'df_ords_prods_merged'

### Step 9

### Note from exercise 4.9:
##### In 'prices' column, there are two price outliers which need to be removed (replaces by NaN)

In [30]:
#Turning the outlier prices into missing values(NaN)
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] >100, 'prices'] = np.nan

In [31]:
#Checking if the replacement was successful
df_ords_prods_merged['prices'].max()

25.0

In [33]:
df_ords_prods_merged = df_ords_prods_merged.drop(['Unnamed: 0.1','Unnamed: 0_x','Unnamed: 0_y'], axis = 1)

KeyError: "['Unnamed: 0.1', 'Unnamed: 0_x', 'Unnamed: 0_y'] not found in axis"

In [34]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_freq,order_freq_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [35]:
#Exporting again the updated dataframe
df_ords_prods_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged_aggregated.pkl'))